<%= form_with(model: [:admin, @store, @page]) do |form| %>
  <div class='modal-body'>
    <% if @service.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@service.errors.count, "error") %> prohibited this product category from being saved:</h2>
        <ul>
          <% @service.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class='mb-3'>
      <%= form.label :key, { class: 'form-label' } %>
      <%= form.text_field :key, { class: 'form-control' } %>
    </div>
    <div class='mb-3'>
      <%= form.label :url, { class: 'form-label' } %>
      <%= form.text_field :url, { class: 'form-control' } %>
    </div>
    <% unless @page.persisted? %>
      <div class='mb-3'>
        <%= form.label :page_template, { class: 'form-label' } %>
        <%= form.collection_select :page_template_id, @store.page_templates.active, :id, :key, {}, { class: 'form-select', required: true } %>
      </div>
    <% end %>
    <div class='modal-footer'>
      <%= form.submit 'Save', class: 'btn btn-primary' %>
    </div>
  <% end %>
