<%= form_with(model: [:admin, @store, @user_group]) do |form| %>
  <div class='modal-body'>
    <% if @user_group.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@user_group.errors.count, "error") %></h2>
        <ul>
          <% @user_group.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class='mb-3'>
      <%= form.label :name, t('attributes.name'), { class: 'form-label' } %>
      <%= form.text_field :name, { class: 'form-control' } %>
    </div>
    <div class='mb-3'>
      <%= form.label :key, t('attributes.key'), { class: 'form-label' } %>
      <%= form.text_field :key, { class: 'form-control' } %>
    </div>
    <div class='mb-3'>
      <%= form.label :ranking, t('attributes.ranking'), { class: 'form-label' } %>
      <%= form.number_field :ranking, { class: 'form-control' } %>
    </div>
  </div>

  <div class='modal-footer'>
    <%= form.submit t('save'), class: 'btn btn-primary' %>
  </div>
<% end %>
