<%= page_title '' %>
<div class="row">
  <div class="col-xl-6">
    <div class="card mb-3 border">
      <div class="card-header">
        <%= card_title(t('titles.user_group_details')) do %>
          <%= edit_button([:admin, @user_group]) %>
          <%= destroy_button([:admin, @user_group]) %>
        <% end %>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <%= render 'show', locals: { user_group: @user_group } %>
        </table>
      </div>
    </div>
  </div>
</div>
