<%= form_with(model: [:admin, @page_template, @page_translation]) do |form| %>
  <div class='modal-body'>
    <% if @service.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@service.errors.count, "error") %></h2>
        <ul>
          <% @service.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class='mb-3'>
      <%= form.label :content, t('attributes.content'), { class: 'form-label' } %>
      <%= form.text_area :content, { class: 'form-control', style: 'height: 366px;'} %>
    </div>
    <div class='mb-3'>
      <%= form.label :locale, t('attributes.locale'), { class: 'form-label' } %>
      <%= form.select :locale, I18n.available_locales, {}, { class: 'form-select' } %>
    </div>
    <div class='modal-footer'>
      <%= form.submit t('save'), class: 'btn btn-primary' %>
    </div>
  <% end %>
