<%= form_with(model: product_price) do |form| %>
  <% if product_price.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product_price.errors.count, "error") %> prohibited this product_price from being saved:</h2>

      <ul>
        <% product_price.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :locale, style: "display: block" %>
    <%= form.text_field :locale %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :currency, style: "display: block" %>
    <%= form.text_field :currency %>
  </div>

  <div>
    <%= form.label :deactivated_at, style: "display: block" %>
    <%= form.datetime_field :deactivated_at %>
  </div>

  <div>
    <%= form.label :store_id, style: "display: block" %>
    <%= form.text_field :store_id %>
  </div>

  <div>
    <%= form.label :created_by_id, style: "display: block" %>
    <%= form.text_field :created_by_id %>
  </div>

  <div>
    <%= form.label :product_version_id, style: "display: block" %>
    <%= form.text_field :product_version_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
