<div id="<%= dom_id product_price %>">
  <p>
    <strong>Locale:</strong>
    <%= product_price.locale %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product_price.price %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= product_price.currency %>
  </p>

  <p>
    <strong>Deactivated at:</strong>
    <%= product_price.deactivated_at %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= product_price.store_id %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= product_price.created_by_id %>
  </p>

  <p>
    <strong>Product version:</strong>
    <%= product_price.product_version_id %>
  </p>

</div>
