<tbody id='purchase_order'>
  <tr>
    <th><%= t('attributes.reference_number') %></th>
    <td><%= @purchase_order.reference_number %></td>
  </tr>
  <tr>
    <th><%= t('attributes.status') %></th>
    <td><%= @purchase_order.status %></td>
  </tr>
  <tr>
    <th><%= t('attributes.first_name') %></th>
    <td><%= @purchase_order.first_name %></td>
  </tr>
  <tr>
    <th><%= t('attributes.last_name') %></th>
    <td><%= @purchase_order.surname %></td>
  </tr>
  <tr>
    <th><%= t('attributes.created_at') %></th>
    <td><%= time_tag(@purchase_order.created_at) %></td>
  </tr>
</tbody>
