<%= page_title(t('titles.purchase_order')) do %>
<% end %>
<div class="row">
  <div class="col-xl-6">
    <div class="card mb-3 border">
      <div class="card-header">
        <%= card_title(t('titles.purchase_order_details')) do %>
          <% if PurchaseOrderStatuses::Processing.new(purchase_order: @purchase_order).valid_state? %>
            <%= action_button([:admin, @purchase_order], action: :processing, icon: 'fa-box', confirm: true)  %>
          <% end %>
          <% if PurchaseOrderStatuses::InTransit.new(purchase_order: @purchase_order).valid_state? %>
            <%= action_button([:admin, @purchase_order], action: :in_transit, icon: 'fa-truck', confirm: true)  %>
          <% end %>
          <% if PurchaseOrderStatuses::Complete.new(purchase_order: @purchase_order).valid_state? %>
            <%= action_button([:admin, @purchase_order], action: :completed, icon: 'fa-check', confirm: true)  %>
          <% end %>
          <% if PurchaseOrderStatuses::Fail.new(purchase_order: @purchase_order).valid_state? %>
            <%= action_button([:admin, @purchase_order], action: :failed, icon: 'fa-xmark', type: 'danger', confirm: true)  %>
          <% end %>
        <% end %>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <%= render 'show', locals: { purchase_order: @purchase_order } %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card mb-3 border">
      <div class="card-header">
        <%= card_title(t('titles.address')) %>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <th><%= t('attributes.address') %></th>
              <td>
                <%= @purchase_order.address.address %>
              </td>
            </tr>
            <tr>
              <th><%= t('attributes.country') %></th>
              <td>
                <%= @purchase_order.address.country %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card mb-3 border">
      <div class="card-header">
        <%= card_title(t('titles.order_items')) %>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <th><%= t('attributes.product_version') %></th>
            <th><%= t('attributes.quantity') %></th>
            <th><%= t('attributes.price') %></th>
            <th><%= t('attributes.total') %></th>
          </thead>
          <tbody id='order_items'>
            <%= render @purchase_order.purchase_cart_items %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
