<tbody id='store'>
  <tr>
    <th>Name</th>
    <td><%= @store.name %></td>
  </tr>
  <tr>
    <th>URL</th>
    <td>
      <% if @request.port != 80 %>
        <a href="<%= "http://#{@store.url}.#{@request.domain}:#{@request.port}" %>"><%= @store.url %></a>
      <% else %>
        <a href="<%= "http://#{@store.url}.#{@request.domain}" %>"><%= @store.url %></a>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Revenue</th>
    <td><%= @store.revenue %></td>
  </tr>
  <tr>
    <th>Sales</th>
    <td><%= @store.sales %></td>
  </tr>
  <tr>
    <th>Created at</th>
    <td><%= time_tag(@store.created_at) %></td>
  </tr>

</tbody>
