<tbody id='store'>
  <tr>
    <th><%= t('attributes.name') %></th>
    <td><%= @store.name %></td>
  </tr>
  <tr>
    <th><%= t('attributes.subdomain') %></th>
    <td>
      <% if @request.port != 80 %>
        <a href="<%= "http://#{@store.url}.#{@request.domain}:#{@request.port}" %>"><%= @store.url %></a>
      <% else %>
        <a href="<%= "http://#{@store.url}.#{@request.domain}" %>"><%= @store.url %></a>
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= t('attributes.revenue') %></th>
    <td><%= @store.revenue %></td>
  </tr>
  <tr>
    <th><%= t('attributes.sales') %></th>
    <td><%= @store.sales %></td>
  </tr>
  <tr>
    <th><%= t('attributes.created_at') %></th>
    <td><%= time_tag(@store.created_at) %></td>
  </tr>

</tbody>
