
<tr>
  <td><%= link_to store.name, admin_store_path(store) %></td>
  <td><%= store.revenue %></td>
  <td><%= store.open_issues %></td>
  <td><%= store.sales %></td>
  <td>
    <%= card_controls do %>
      <%= show_button(:admin, store) %>
    <% end %>
  </td>
</tr>
