<p style="color: green"><%= notice %></p>

<%= page_title(@store.name) do %>
  <%= link_to '', edit_admin_store_path(@store), class: 'btn btn-sm btn-warning fas fa-pencil', data: { turbo: true, turbo_frame: 'modal' } %>
  <%= link_to '', admin_store_path(@store), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger fas fa-trash' %>
<% end %>

<div class="row">
  <div class="col-xl-6">
    <div class="card mb-3 border">
      <div class="card-header">
        <h2 class="card-title">
          Store Details
        </h2>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <%= render 'show', locals: { store: @store } %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card mb-3 border">
      <div class="card-header">
        <h2 class="card-title">
          Store Data
        </h2>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <td>
                <%= link_to admin_store_products_path(@store), class: 'btn btn-sm btn-primary' do %>
                  <i class="fas fa-box"></i> Products
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
                <%= link_to admin_store_product_categories_path(@store), class: 'btn btn-sm btn-primary' do %>
                  <i class="fas fa-table-columns"></i> Categories
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
              <%= link_to admin_store_purchase_orders_path(@store), class: 'btn btn-sm btn-primary' do %>
                <i class='fas fa-cart-shopping'></i> Orders
              <% end %>
              </td>
            </tr>
            <tr>
              <td>
                <%= link_to admin_store_pages_path(@store), class: 'btn btn-sm btn-primary' do %>
                  <i class='fas fa-file'></i> Pages
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
                <%= link_to admin_store_page_templates_path(@store), class: 'btn btn-sm btn-primary' do %>
                  <i class='fas fa-file-lines'></i> Page templates
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
                <%= link_to admin_store_user_groups_path(@store), class: 'btn btn-sm btn-primary' do %>
                  <i class='fas fa-file-lines'></i> User groups
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
                <%= link_to admin_store_user_accounts_path(@store), class: 'btn btn-sm btn-primary' do %>
                  <i class='fas fa-file-lines'></i> User accounts
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
