<tbody id='product_version'>
  <tr>
    <th><%= t('attributes.version') %></th>
    <td><%= @product_version.version %></td>
  </tr>
  <tr>
    <th><%= t('attributes.weight') %></th>
    <td><%= formatted_unit(@product_version.weight, @product_version.weight_unit)%></td>
  </tr>
  <tr>
    <th><%= t('attributes.height') %></th>
    <td><%= formatted_unit(@product_version.height, @product_version.size_unit)%></td>
  </tr>
  <tr>
    <th><%= t('attributes.length') %></th>
    <td><%= formatted_unit(@product_version.length, @product_version.size_unit)%></td>
  </tr>
  <tr>
    <th><%= t('attributes.width') %></th>
    <td><%= formatted_unit(@product_version.width, @product_version.size_unit)%></td>
  </tr>
  <tr>
    <th><%= t('attributes.activated_at') %></th>
    <td><%= time_tag(@product_version.activated_at) %></td>
  </tr>
  <tr>
    <th><%= t('attributes.activated_by') %></th>
    <td><%= @product_version.activated_by&.name %></td>
  </tr>
  <tr>
    <th><%= t('attributes.deactivated_at') %></th>
    <td><%= time_tag(@product_version.deactivated_at) %></td>
  </tr>
  <tr>
    <th><%= t('attributes.deactivated_by') %></th>
    <td><%= @product_version.deactivated_by&.name %></td>
  </tr>
  <tr>
    <th><%= t('attributes.created_at') %></th>
    <td><%= time_tag(@product_version.created_at) %></td>
  </tr>
  <tr>
    <th><%= t('attributes.created_by') %></th>
    <td><%= @product_version.created_by.name %></td>
  </tr>
  <tr>
    <th><%= t('attributes.updated_at') %></th>
    <td><%= time_tag(@product_version.updated_at) %></td>
  </tr>
  <tr>
    <th><%= t('attributes.updated_by') %></th>
    <td><%= @product_version.updated_by.name %></td>
  </tr>
</tbody>
