<%= form_with(model: [:admin, @product_version, @product_price]) do |form| %>
  <div class='modal-body'>
    <% if @service.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@service.errors.count, "error") %></h2>
        <ul>
          <% @service.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class='mb-3'>
      <%= form.label :price, t('attributes.price'), { class: 'form-label' } %>
      <%= form.number_field :price, { class: 'form-control' } %>
    </div>
    <div class='mb-3'>
      <%= form.label :user_group, t('attributes.user_group'), { class: 'form-label' } %>
      <%= form.collection_select :user_group_id, @store.user_groups, :id, :key, { include_blank: true }, { class: 'form-select'} %>
    </div>
  </div>

  <div class='modal-footer'>
    <%= form.submit t('save'), class: 'btn btn-primary' %>
  </div>
<% end %>
