<tr>
  <td><%= product_price.locale %></td>
  <td><%= product_price.currency %></td>
  <td><%= product_price.price %></td>
  <td>
    <%= card_controls do %>
      <%= show_button(:admin, product_price) %>
      <%= destroy_button(:admin, product_price) %>
    <% end %>
  </td>
</tr>
