<%= page_title(t('titles.page_templates')) do %>
  <%= create_button(:admin, :store, :page_template) %>
<% end %>

<div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-3 border">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <th><%= t('attributes.key') %></th>
              <th><%= t('attributes.status') %></th>
              <th><%= t('attributes.based_on') %></th>
              <th><%= t('attributes.actions') %></th>
            <tbody id=page_templates>
              <%= render @page_templates %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
