<tbody id='product'>
  <tr>
    <th><%= t('attributes.key') %></th>
    <td><%= @product.key %></td>
  </tr>
  <tr>
    <th><%= t('attributes.created_by') %></th>
    <td><%= @product.created_by.name %></td>
  </tr>
  <tr>
    <th><%= t('attributes.updated_by') %></th>
    <td><%= @product.updated_by.name %></td>
  </tr>
  <tr>
    <th><%= t('attributes.created_at') %></th>
    <td><%= time_tag(@product.created_at) %></td>
  </tr>
</tbody>
