<p style="color: green"><%= notice %></p>

<%= page_title(@product.name) do %>
  <%= edit_button(:admin, @product) %>
  <%= destroy_button(:admin, @product) %>
<% end %>

<div class="row">
  <div class="col-xl-6">
    <div class="card mb-3 border">
      <div class="card-header">
        <h2 class="card-title">
          Product Details
        </h2>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <%= render 'show', locals: { product: @product } %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card mb-3 border">
      <div class="card-header">
        <%= card_title('Active version') do %>
          <%= link_to '', new_admin_product_product_version_path(@product), class: 'btn btn-warning fas fa-pencil', data: { turbo: true, turbo_frame: 'modal' } %>
        <% end %>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <th>Active version</th>
            <td><%= link_to(@product.product_version.title, admin_product_version_path(@product.product_version)) if @product.product_version %></td>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card mb-3 border">
      <div class="card-header">
        <%= card_title('Product versions') do %>
          <%= link_to '', new_admin_product_product_version_path(@product), class: 'btn btn-success fas fa-plus', data: { turbo: true, turbo_frame: 'modal' } %>
        <% end %>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <th>Version</th>
            <th>Activated at</th>
            <th>Deactivated at</th>
            <th>Actions</th>
          <tbody id='product_versions'>
            <%= render @product_versions %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div>
  <%= link_to "Edit this product", edit_admin_product_path(@product) %> |
  <%= link_to "Back to products", admin_store_products_path(@product.store) %>
  <%= link_to "Destroy this product", admin_product_path(@product), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
</div>
