<p style="color: green"><%= notice %></p>
<div class="row">
  <div class="col-xl-6">
    <div class="card mb-3 border">
      <div class="card-header">
        <h2 class="card-title">
          Product Details
        </h2>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <th>Name</th>
              <td><%= @product.name %></td>
            </tr>
            <tr>
              <th>Key</th>
              <td><%= @product.key %></td>
            </tr>
            <tr>
              <th>Created by</th>
              <td><%= @product.created_by.name %></td>
            </tr>
            <tr>
              <th>Updated by</th>
              <td><%= @product.updated_by.name %></td>
            </tr>
            <tr>
              <th>Activated at</th>
              <td><%= time_tag(@product.activated_at) %></td>
            </tr>
            <tr>
              <th>Deactivated at</th>
              <td><%= time_tag(@product.deactivated_at) %></td>
            </tr>
            <tr>
              <th>Created at</th>
              <td><%= time_tag(@product.created_at) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card mb-3 border">
      <div class="card-header">
        <h2 class="card-title">
          Product Data
        </h2>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <th>Active version</th>
            <td><%= link_to(@product.product_version.title, admin_product_version_path(@product.product_version)) if @product.product_version %></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div>
  <%= link_to "Edit this product", edit_admin_product_path(@product) %> |
  <%= link_to "Back to products", admin_store_products_path(@product.store) %>

  <%= button_to "Destroy this product", admin_product_path(@product), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
</div>
