<%= page_title(@product.key) do %>
  <%= edit_button(:admin, @product) %>
  <%= destroy_button(:admin, @product) %>
<% end %>

<div class="row">
  <div class="col-xl-6">
    <div class="card mb-3 border">
      <div class="card-header">
        <%= card_title(t('titles.product_details'))%>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <%= render 'show', locals: { product: @product } %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card mb-3 border">
      <div class="card-header">
        <%= card_title(t('titles.active_version')) %>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <th><%= t('attributes.active_version') %></th>
            <td><%= link_to(@product.product_version.title, admin_product_version_path(@product.product_version)) if @product.product_version %></td>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card mb-3 border">
      <div class="card-header">
        <%= card_title(t('titles.product_versions')) do %>
          <%= create_button(:admin, @product, :product_version) %>
        <% end %>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <th><%= t('attributes.version') %></th>
            <th><%= t('attributes.activated_at') %></th>
            <th><%= t('attributes.deactivated_at') %></th>
            <th><%= t('attributes.actions') %></th>
          <tbody id='product_versions'>
            <%= render @product_versions %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
