<%= page_title(@product.key) do %>
  <%= edit_button(:admin, @product) %>
  <%= destroy_button(:admin, @product) %>
<% end %>

<div class="row">
  <div class="col-xl-6">
    <div class="card mb-3 border">
      <div class="card-header">
        <h2 class="card-title">
          Product Details
        </h2>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <%= render 'show', locals: { product: @product } %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card mb-3 border">
      <div class="card-header">
        <%= card_title('Active version') %>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <th>Active version</th>
            <td><%= link_to(@product.product_version.title, admin_product_version_path(@product.product_version)) if @product.product_version %></td>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card mb-3 border">
      <div class="card-header">
        <%= card_title('Product versions') do %>
          <%= create_button(:admin, @product, :product_version) %>
        <% end %>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <th>Version</th>
            <th>Activated at</th>
            <th>Deactivated at</th>
            <th>Actions</th>
          <tbody id='product_versions'>
            <%= render @product_versions %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
