<%= form_with(model: [:admin, @store, @product_category]) do |form| %>
  <div class='modal-body'>
    <% if @service.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@service.errors.count, "error") %></h2>
        <ul>
          <% @service.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class='mb-3'>
      <%= form.label :name, t('attribute.name'), { class: 'form-label' } %>
      <%= form.text_field :name, { class: 'form-control' } %>
    </div>
    <div class='mb-3'>
      <%= form.label :key, t('attributes.key'), { class: 'form-label' } %>
      <%= form.text_field :key, { class: 'form-control' } %>
    </div>
  </div>

  <div class='modal-footer'>
    <%= form.submit t('save'), class: 'btn btn-primary' %>
  </div>
<% end %>
