<%= page_title '' %>
<div class="row">
  <div class="col-xl-6">
    <div class="card mb-3 border">
      <div class="card-header">
        <%= card_title(t('titles.product_category_details')) do %>
          <%= edit_button([:admin, @product_category]) %>
          <%= destroy_button([:admin, @product_category]) %>
        <% end %>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <%= render 'show', locals: { product_category: @product_category } %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card mb-3 border">
      <div class="card-header">
        <%= card_title(t('titles.product_version_usages')) %>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <%= render @product_versions %>
          </tbody>
        </table>
      </div>
    </div>
</div>
