<tbody id='user_account'>
  <tr>
    <th><%= t('attributes.email') %></th>
    <td><%= @user_account.email %></td>
  </tr>
  <tr>
    <th><%= t('attributes.created_at') %></th>
    <td><%= time_tag(@user_account.created_at) %></td>
  </tr>
  <tr>
    <th><%= t('attributes.updated_at') %>t</th>
    <td><%= time_tag(@user_account.updated_at) %></td>
  </tr>
</tbody>
